/*关于我们*/
.fl { float: left;}
.asle-ft{height:125px; background:url('../images/img_footer.png') no-repeat center bottom; margin-top:10px;}
.about{ border-top:3px solid #EF0053; background:#fff; overflow:hidden;}
.about li{ width:105px; text-align:left; border-right:1px solid #E1E1E1; padding:30px 0 0 20px; height:160px; line-height:24px;}
.about li span{ display:block; font:16px/30px "microsoft yahei";}
.about .lw a{ display:block; color:#666; width:100px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; height:24px; }
.about li a:hover{ text-decoration:underline; color:#c00;}
.about li.w1{ padding-left:0;}
.about li.w2{ width:125px;}
.about li.w3{ width:180px;}
.about li.w3 h3{ font-size:12px;}
.about li.w3 h3 a{ color:#c00;}
.about li.w3 h5 u{ text-decoration:underline;}
.about li.w3 h6{ *font-size:12px;}
.about li.w4{ width:253px; border:none;}
.about li.w4 h4{ clear:left; line-height:20px; padding-top:10px; height:80px; overflow:hidden;}
.about li.w4 h4 img{ display:inline; margin:3px 10px 0 0; width:72px; height:73px;}
.about li.w4 h4 em{ color:#E02F2F}
.friendly_links{ margin:20px auto 0; color:#666; width:980px;height:15px;overflow: hidden;}
.friendly_links .flinks{ width:870px; height:auto;margin-top:0px}
.friendly_links li{ margin-right:12px;width:auto;height:auto;border:none;padding:0px; line-height:normal;}
.friendly_links li a{ color:#999;}
.friendly_links li a:hover{ text-decoration:underline}
.friendly_links .more{color:#666;}
.friendly_links .more:hover{ color:#c00; text-decoration:underline;}
.footer{ height:50px !important; margin-top:10px; line-height:30px; overflow:hidden;text-align: center;}
.footer a{ display:block; width:70px; margin:0 auto;}